<div class="card highlight-card form">
  <span>User Details</span>
</div>
<div class="card form-card">
  <form class="form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <p>
    <label for="first-name">First Name: <span class="required">*</span> </label>
    <input id="first-name" type="text" formControlName="firstName">
    </p>
    <p>
    <label for="last-name">Last Name: <span class="required">*</span> </label>
    <input id="last-name" type="text" formControlName="lastName">
    </p>
    <p>
    <label for="dob">Date Of Birth: </label>
    <input id="dob" type="date" formControlName="dob">
    </p>
    <p>
    <label for="gender">Gender: </label>
    <select id="gender" formControlName="gender">
      <option [ngValue]="null" disabled>Choose your Gender</option>
      <option>Male</option>
      <option>Female</option>
    </select>
    </p>
    <p>
      <span>Complete the form to enable button.</span><br>
      <button type="submit" [disabled]="!userForm.valid">Submit</button><br>
    </p>
  </form>
</div>

